#icon {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0px;
    margin: 0%;
    padding:0%;
}

#BClockIcon{
    width: 15%;
    justify-content: flex-end;
    text-align: end ;   
}

#SetaBlueGo {
    margin: 5px 5px 0px 0px;
    width: 40px; 
}

#filtro {
    margin: 10px 0px 0px 0px;
    float: right;
    width: 40px;
}