#icon {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0px;
    margin: 0%;
    padding:0%;
}

#BClockIcon{
    width: 15%;
    justify-content: flex-end;
    text-align: end ;   
}

#SetaBlueGo {
    margin: 5px 5px 0px 0px;
    width: 40px; 
}

#filtro {
    margin: 10px 0px 0px 0px;
    float: right;
    width: 40px;
}

/* PERFIL */
#ppic {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 100%;
    margin-right: 25px;
    padding: 20px;
    width: 50px;
}

#iinfo {
    margin-right: 10px;
    padding: 5px;
    width: 30px;
}

#aicon {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 25%;
    margin-right: 15px;
    padding: 13px;
    width: 30px;
}